<div class="card">
    <div class="card-header">
        Add New FAQ
    </div>
    <div class="card-body">
        <form (submit)="addQuestion()">
            <div class="form-group">
                <label for="text">Question Text</label>
                <input class="form-control" type="text" name="text"  [(ngModel)]="text">
            </div>
            <div class="form-group">
                <label for="text">Question Answer</label>
                <input class="form-control" type="text" name="answer" [(ngModel)]="answer">
            </div>
            <button type="sumbit" class="btn btn-primary" value="Sumbit" >Submit</button>
        </form>
    </div>
</div>